body{
    background: url('mobile.jpg');
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;
    
}
.circular-image {
    width: 270px; 
    height: 270px; 
    overflow: hidden;
    border-radius: 60%; 
    margin: 16px;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.circle{
position: absolute;
top: 50%;
left: 50%;
height: 350px;
width: 350px;
border: 2px solid grey;
border-radius: 50%;
transform: translate(-50%, -50%);
background-color: rgb(14, 218, 92);
opacity: 0.8;
}

.circle::before{
    content: ' ';
    height: 100%;
    width: 100%;
    border: 4px dotted whitesmoke;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: scale(1.0);
    animation: rotate 30s linear infinite;
}

.lamp{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    border: 3px solid rgb(223, 149, 85);
    background-color: brown;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.lamp::before{
    content: '';
    position:absolute;
    top: -80px;
    left: 75px;
    width: 25px;
    height: 70px;
    background-color: yellow;
    border-top-left-radius: 127px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transform-origin: bottom;
    filter: blur(2px);
    animation: animate 5s linear infinite;
}

h1{
    padding: 0px;
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 60px;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, .2);
    animation: sec 2s infinite;
}

h1 span{
    font-size: 70px;
    animation: sec 2s infinite;
}

@keyframes rotate{
    0%{
        transform:scale(1.1)rotate(0deg);
    }
    100%{
        transform:scale(1.1)rotate(360deg)
    }
}

@keyframes animate{
    0%{
        transform: rotate(20deg);
        box-shadow: 0 0 30px yellow;
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(15deg);
        box-shadow: 0 0 30px yellow;
    }
    100%{
        transform: rotate(20deg);
    }
}

@keyframes sec{
    0%{
        color: orange;
    }
    10%{
        color: red;
    }
    20%{
        color:rgb(221, 76, 76);
        letter-spacing: 2px;
    }
    30%{
        color: lime;
    }
    40%{
        color: green;
    }
    50%{
        color:blue;
    }
    60%{
        color: magenta;
    }
    70%{
        color: maroon;
    }
    80%{
        color: rgb(14, 202, 226);
        letter-spacing: 2px;
    }
    90%{
        color: bisque;
    }
    100%{
        color: yellow;
        letter-spacing: 0px;
    }
}



footer{
    color: bisque;
    top: 84%;
    position: absolute;
    margin: 0 25%;
    width: 50%;
    background-color: orangered;
    border-radius: 15px;
    opacity: 0.8;
}

footer .content{
    margin: 0px 25px;
    text-align: center;
    font-size: 18px;
}

footer .H{
    text-align: right;
    margin-right: 5px;
}